<section>
  <form class='new-post-form'>
    <div class='mb-3'>
      <label for='post-title' class='form-label'>Title</label>
      <input
        type='text'
        class='form-control'
        id='post-title'
        name='post-title'
        aria-describedby='titleHelp'
        value=''
        placeholder='Post title'
        required='true'
      />
      <div id='titleHelp' class='form-text'>Please enter a title for your post.</div>
    </div>
    <div class='mb-3'>
      <label for='post-content' class='form-label'>Content</label>
      <textarea
        class='form-control'
        id='post-content'
        name='post-content'
        aria-describedby='Enter the content of your post'
        style='height: 300px'
      ></textarea>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
</section>
{{#if posts.length}}
  <section class='col-11 justify-center align-center'>
    <h3 class='justify-left'>Your posts</h3>
    <ol>
      {{#each posts as |post|}}
        <li>
          <div class='card'>
            <div class='card-body'>
              <h5 class='card-title'>{{post.title}}</h5>
              <p class='card-text'>{{post.content}}</p>
              <a
                href='/dashboard/edit/{{post.id}}'
                class='btn btn-success'
              >Edit</a>
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}
<script src='/javascript/add-post.js'></script>