<form class='login-form row justify-space-around'>
  <div class='col-3 align-center'>
    <h3>Sign In</h3>
  </div>
  <div class='col-9 align-center'>
    <div class='form-floating mb-3'>
      <input type='email' class='form-control' id='floatingEmail' />
      <label for='floatingEmail'>Email address</label>
    </div>
    <div class='form-floating'>
      <input type='password' class='form-control' id='floatingPassword' />
      <label for='floatingPassword'>Password</label>
    </div>
  </div>
</form>
<hr />
<form class='signup-form row justify-space-around'>
  <div class='col-9 align-center'>
    <div class='form-floating mb-3'>
      <input type='text' class='form-control' id='floatingUsernameAdd' />
      <label for='floatingUsernameAdd'>Username</label>
    </div>
    <div class='form-floating mb-3'>
      <input type='email' class='form-control' id='floatingEmailAdd' />
      <label for='floatingEmailAdd'>Email address</label>
    </div>
    <div class='form-floating'>
      <input type='password' class='form-control' id='floatingPasswordAdd' />
      <label for='floatingPasswordAdd'>Password</label>
    </div>
  </div>
  <div class='col-3 align-center'>
    <h3>Sign Up</h3>
  </div>
</form>