{{> post-info post}}
{{#if loggedIn}}
  <form class="comment-form">
    <div class="input-group mb-3">
      <span class="input-group-text">Add a comment</span>
      <textarea name="comment-body" class="form-control" id="comment-body" aria-label="Add a comment" style="height: 100px"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-indigo">Post Comment</button>
    </div>
  </form>
{{/if}}

  {{comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}