<section class='d-flex flex-column align-items-center'>
  <form class='new-post-form col-10'>
    <div class='mb-3 bg-dark rounded p-3'>
      <label for='post-title' class='form-label text-light fs-4'>Title</label>
      <input
        type='text'
        class='form-control'
        id='post-title'
        name='post-title'
        aria-describedby='titleHelp'
        value=''
        placeholder='Post title'
        required='true'
      />
      <div id='titleHelp' class='form-text text-light'>A concise summary of your
        post.</div>
    </div>
    <div class='mb-3 bg-dark rounded p-3'>
      <label
        for='post-content'
        class='form-label text-light fs-4'
      >Content</label>
      <textarea
        class='form-control'
        id='post-content'
        name='post-content'
        aria-describedby='Enter the content of your post'
        style='height: 300px'
      ></textarea>
    </div>
    <button type='submit' class='btn btn-success font-monospace'>Submit</button>
  </form>
</section class=''>
{{#if posts.length}}
  <section class='d-flex flex-column align-items-center mt-3'>
    <div class="col-10 mb-3">
      <h3 class='fw-bold fs-2 font-monospace'>Your posts</h3>
    </div>
    <div class='col-10'>
      <ol>
        {{#each posts as |post|}}
          <li>
            <div class='card mb-3'>
              <div class='card-body m-0 p-0'>
                <h5 class='card-header ps-3'>{{post.title}}</h5>
                <p class='card-text ps-3'>{{post.content}}</p>
                <a
                  href='/dashboard/edit/{{post.id}}'
                  class='btn btn-success mb-3 ms-3 me-3 font-monospace'
                >Edit</a>
              </div>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
  </section>
{{/if}}
<script src='/javascript/add-post.js'></script>